div{background-color: aquamarine;
height: 150px;
width: 150px;
border: 10px solid grey;
margin: 5px;
color: brown;


}
.container{
    background-color: darkgray;
width:130px;
height:375px;
}
.item{
    height: 100px;
width: 100px;
border-radius: 50%;
}
#box1 {
    background-color: red;
}

#box2 {
    background-color: yellow;
}

#box3 {
    background-color: green;
}
    
